@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    .mobile-only {
      display: block;
    }
    .center-container {
      margin: 10px 10px; /* 10px margin on both sides */
      width: calc(100% - 20px); /* Adjust width to account for margins */
    }
  }
  
  @media (min-width: 769px) {
    .desktop-only {
      display: block;
    }
    .mobile-only {
      display: none;
    }
    .center-container {
      margin: 10px auto; /* Centered on desktop */
      width: 70%;
    }
  }


